<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/edit-note.css" />
    <link rel="stylesheet" href="../style/edit-column.css" />
    <title>TODO</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title">TODO 서비스</div>
      <div class="menu">menu</div>
    </div>
    <div class="project-columns">
      <div class="column">
        <div class="column-header">
          <div class="column-title-wrap">
            <span class="card-count">33</span>
            <span class="column-title">해야 할 일</span>
          </div>
          <div class="column-icon-wrap">
            <span class="add">&plus;</span>
            <span class="close">&times;</span>
          </div>
        </div>
        <div class="card-wrap">
          <div class="card">
            <div class="card-icon"></div>
            <div class="card-content"></div>
            <div class="card-author"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-note-modal">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title-area">
            <h1>Edit note</h1>  
          </div>
          <div class="button-area">
            <button>×</button>  
          </div>
        </div>
        <div class="modal-body">
          <h1>Note</h1>
          <textarea autofocus></textarea>
          <button>Save note</button>
        </div>
      </div>
    </div>
    <div class="edit-column-modal">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title-area">
            <h1>Edit column name</h1>
          </div>
          <div class="button-area">
            <button>×</button>  
          </div>
        </div>
        <div class="modal-body">
          <h1>Column name</h1>
          <input type="text" placeholder="Enter a column name(To Do, In Progress, Done)" autofocus></input>
          <button>Save note</button>
        </div>
      </div>
    </div>
  </body>
</html>
