<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>TODO</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title">TODO 서비스</div>
      <div class="menu">menu</div>
    </div>
    <div class="column">
      <div class="column-header">
        <span class="card-count">3</span><span class="column-title">해야 할 일</span>
        <div class="column-plus-btn"></div>
        <div class="column-delete-btn"></div>
      </div>
      <div class="card">
        <div class="card-icon"></div>
        <div class="card-content"></div>
        <div class="card-author"></div>
      </div>
    </div>
  </body>
</html>
