<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>TODO</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title">TODO 서비스</div>
      <div class="menu">menu</div>
    </div>
    <div class="column-wrap">
      <div class="project-columns">
        <div class="column">
          <div class="column-header">
            <div class="column-title-wrap">
              <span class="card-count">33</span>
              <span class="column-title">해야 할 일</span>
            </div>
            <div class="column-icon-wrap">
              <span class="add">&plus;</span>
              <span class="close">&times;</span>
            </div>
          </div>
          <div class="card-wrap">
            <div class="input-wrap">
              <textarea
                name=""
                id="card-input"
                cols="30"
                rows="10"
                placeholder="Enter a note"
              ></textarea>
              <div class="btn-wrap">
                <button disabled="disabled" class="btn add-btn">Add</button>
                <button class="btn cancel-btn">Cancel</button>
              </div>
            </div>
            <div class="card-content-wrap">
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-note-modal">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title-area">
            <h1>Edit note</h1>  
          </div>
          <div class="button-area">
            <button>×</button>  
          </div>
        </div>
        <div class="modal-body">
          <h1>Note</h1>
          <textarea autofocus></textarea>
          <button>Save note</button>
        </div>
      </div>
    </div>
    <div class="edit-column-modal">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title-area">
            <h1>Edit column name</h1>
          </div>
          <div class="button-area">
            <button>×</button>  
          </div>
        </div>
        <div class="modal-body">
          <h1>Column name</h1>
          <input type="text" placeholder="Enter a column name(To Do, In Progress, Done)" autofocus></input>
          <button>Save note</button>
        </div>
      </div>
    </div>
    <script src="../../dist//bundle.js"></script>
  </body>
</html>
