<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>TODO</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title">TODO 서비스</div>
      <div class="menu">menu</div>
    </div>
    <div class="column-wrap">
      <div class="project-columns">
        <div class="column">
          <div class="column-header">
            <div class="column-title-wrap">
              <span class="card-count">33</span>
              <span class="column-title">해야 할 일</span>
            </div>
            <div class="column-icon-wrap">
              <span class="add">&plus;</span>
              <span class="close">&times;</span>
            </div>
          </div>
          <div class="card-wrap">
            <div class="input-wrap">
              <textarea
                name=""
                id="card-input"
                cols="30"
                rows="10"
                placeholder="Enter a note"
              ></textarea>
              <div class="btn-wrap">
                <button disabled="disabled">Add</button>
                <button>Cancel</button>
              </div>
            </div>
            <div class="card-content-wrap">
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
              <div class="card">
                <div class="card-icon">
                  <span class="material-icons">description</span>
                </div>
                <span class="close">&times;</span>
                <div class="content-wrap">
                  <div class="card-content">해야 할 일이 있다.</div>
                  <div class="card-author">Added by <span>choisohyun</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
