.edit-note-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.7);
  display: none;
}

.edit-note-modal > .modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 446px;
  height: 360px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.edit-note-modal > .modal-container > .modal-header {
  width: 100%;
  height: 53px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid gray;
}

.edit-note-modal > .modal-container > .modal-header > .title-area {
  float: left;
  width: 50%;
  height: 100%;
}

.edit-note-modal > .modal-container > .modal-header > .title-area > h1 {
  line-height: 53px;
  margin-left: 18px;
}

.edit-note-modal > .modal-container > .modal-header > .button-area {
  float: left;
  width: 50%;
  height: 100%;
}

.edit-note-modal > .modal-container > .modal-header > .button-area > button {
  float: right;
  color: black;
  line-height: 47px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.edit-note-modal > .modal-container > .modal-header > .button-area > button:hover {
  color: steelblue;
}

.edit-note-modal > .modal-container > .modal-header > .button-area > button:active {
  color: steelblue;
}

.edit-note-modal > .modal-container > .modal-body {
  width: 100%;
  height: 100%;
  background-color: white;

}

.edit-note-modal > .modal-container > .modal-body > h1 {
  margin-left: 18px;
  margin-top: 15px;
}

.edit-note-modal > .modal-container > .modal-body > textarea {
  width: 410px;
  height: 200px;
  margin-top: 5px;
  margin-left: 18px;
  padding-left: 5px;
  resize: none;
  border: 1px solid gray;
}

.edit-note-modal > .modal-container > .modal-body > textarea:focus {
  outline-style: solid;
  outline-color: steelblue;
  outline-width: 3px;
}

.edit-note-modal > .modal-container > .modal-body > textarea::placeholder {
  color: lightgray;
}

.edit-note-modal > .modal-container > .modal-body > button {
  width: 90px;
  height: 35px;
  margin-left: 18px;
  margin-top: 16px;
  color: white;
  background: rgb(0, 180, 0);
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  line-height: 33px;
}

.edit-note-modal > .modal-container > .modal-body > button:hover {
  background: rgb(0, 160, 0);
}

.edit-note-modal > .modal-container > .modal-body > button:active {
  background: rgb(0, 120, 0);
}

@media (max-height: 450px) {
  .edit-note-modal > .modal-container {
    height: 80%;
  }
  
  .edit-note-modal > .modal-container > .modal-body {
    overflow-y: scroll;
  }

  .edit-note-modal > .modal-container > .modal-body > textarea {
    width: 390px;
  }
}
